.carousel {
    position: relative;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  