.banner {
    background-color: #ffff;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        font-size: 32px;
        color: white;
        text-align: center;
    }
}