.banner {
    background-color: #ffff;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 4%; 
    


    img {
        width: 100%;
        object-fit: cover; 
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 20px;
    }

    h1 {
        position: absolute;
        font-size: 32px;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

