.home {
    padding: 2rem;
  }
  

  
  .cards-container {
    display: grid;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 40px 0 0 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  