.home {
  padding: 2% 4% 4% 4%;
  }
  

  
  .cards-container {
    display: grid;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 40px 40px 40px 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  
  