.not-found {
    text-align: center;
    margin-top: 5px;
  }
  
  .not-found h1 {
    width: 597px;
    font-size: 50px;



  }
  
  .not-found-link {
    margin-top: 2px;
    display: inline-block;
    padding: 2px 3px;
    color: #ff6060;
    border-radius: 4px;
  }
  